

.cardLogin {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.cardLoginInner {
  padding:15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.10);
}

.avatar {
  text-align: center;
  margin:0px auto 15px auto;
}

.Login {
  background-image: url("../assets/images/bg-login.png");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  position: absolute;
  background-position: center center;  
  height:100%;
  width: 100%;
}

/* .LoginPage {
  min-height: 100%;
  width: 100%;
  background-color: aqua;
} */

